<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.posco.insta.follow.repository.FollowMapper">
   <select id="getFollowing" parameterType="FollowDto" resultType="FollowDto">
       SELECT
            follower, following
       FROM
            follow
       WHERE follower = #{follower}

   </select>
    <select id="getFollower" resultType="FollowDto" parameterType="FollowDto">
        SELECT

        FROM
            follow
        WHERE follower = #{follower}

    </select>
    <insert id="insertFollow" parameterType="FollowDto">
        INSERT INTO follows(following, follower)
        VALUES (#{following}, #{follower})
    </insert>

    <delete id="deleteFollow" parameterType="FollowDto">
        DELETE FROM follows
        WHERE following =${following} AND follower = #{follower}
    </delete>

    <select id="getFollowerByOne" resultType="FollowDto">
        SELECT
            follower, following
        FROM
            follows
        WHERE following =${following} AND follower = #{follower}

    </select>


</mapper>