<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.posco.insta.user.repository.UserMapper">
    <select id="getUser" resultType="UserDto">
            SELECT
                id, userId, name, img
            FROM
                users
    </select>
    <select id="getUserById" resultType="UserDto" parameterType="UserDto">
        SELECT
            id, userId, name, img
        FROM
            users
        WHERE
            id = #{id}
    </select>
    <insert id="postUser" parameterType="UserDto">
        INSERT INTO
            users(userId,img,name,password)
        VALUES
            (#{userId}, #{img}, #{name}, #{password})
    </insert>
    <delete id="deleteUser" parameterType="UserDto">
<!--        delete는 row변경값 integer로 반환한다-->
        DELETE FROM
            users
        WHERE id = #{id}
    </delete>
    <update id="updateUserById" parameterType="UserDto">
        UPDATE users
        <trim prefix="SET" suffixOverrides=",">
            <if test="img!=null"> img = #{img}</if>
            <if test="name!=null">  name = #{name}</if>
            <if test="password!=null"> password = #{password}</if>
        </trim>
            WHERE id = #{id}
    </update>
    <select id="getUserByUserIdAndPassword" resultType="UserDto">
        SELECT
            id, userId, name, img
        FROM
            users
        WHERE
            userId = #{userId} and  password = #{password}
    </select>
</mapper>